<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conference</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />

</head>
<body>
<th:block layout:replace="fragments/navigation"/>
<div class="col-md-4">
    <h3 th:inline="text">Мои презентации: </h3>
</div>

<div style="padding:0 20px">
    <table class="table table-striped">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата и время</th>
            <th>Докладчик</th>
            <th>Действия</th>
        </tr>
        <tr th:each = "presentation : ${presentations}">
            <!--<td th:text="${schedule.presentationTime}"></td>-->
            <td th:text="${presentation.tittle}"></td>
            <td th:text="${presentation.description}"></td>
            <td th:text="${presentation.description}"></td>
            <td>
				<span th:each="conferenceUser,iterStat : ${presentation.conferenceUsers}">
					<span th:text="${conferenceUser.firstName} + ' ' + ${conferenceUser.lastName}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>
            </td>
            <td>
            <a th:href="@{/editPresentation/{id}(id=${presentation.presentationid})}" class="btn btn-success btn-xs">Редактировать</a>
            <a th:href="@{/delete/{id}(id=${presentation.presentationid})}" class="btn btn-danger btn-xs">Удалить</a>
            </td>
        </tr>
    </table>
    <a href="/addPresentation" class="btn btn-success">Добавить доклад</a>
</div>
</body>
</html>