<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conference</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />

</head>
<body>
<th:block layout:replace="fragments/navigation"/>
<div class="col-md-4">
    <h3 th:inline="text">Список презентаций: </h3>
</div>

<div style="padding:0 20px">
    <table class="table table-striped">
        <tr>
            <th>Аудитория</th>
            <th>Дата и время</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Докладчик</th>
        </tr>
        <tr th:each = "schedule : ${schedules}">
            <td th:text="${schedule.presentationRoom.number}"></td>
            <td th:text="${schedule.presentationTime}"></td>
            <td th:text="${schedule.presentation.tittle}"></td>
            <td th:text="${schedule.presentation.description}"></td>
            <td>
				<span th:each="conferenceUser,iterStat : ${schedule.presentation.conferenceUsers}">
					<span th:text="${conferenceUser.firstName} + ' ' + ${conferenceUser.lastName}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>