<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conference</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
 
</head>
<body>
<th:block layout:replace="fragments/navigation"/>
	<div class="col-md-4">
		<h3>Пользователи</h3>
	</div>
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th class="col-md-2">Имя</th>
		    <th class="col-md-2">Email</th>
		    <th class="col-md-1">Город</th>
		    <th class="col-md-2">Доклады</th>
		</tr>  
    	<tr th:each = "user : ${users}">
    		<td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
    		<td th:text="${user.email}"></td>
    		<td th:text="${user.city}"></td>
    		<td>
				<span th:each="presentation,iterStat : ${user.presentations}">
					<span th:text="${presentation.tittle}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>    		
    		</td>
    	</tr>
    </table>
	</div>    
</body>
</html>